body{
  background-color: gray;
}

.rechercher{
  margin-top: 145px;
  margin-left: 30px;
  width: 600px;
}

.box {
  display: flex;
}
.box>* {
  flex: 1 1 200px;
}
.hide {
  visibility: collapse;
}

#video{
  margin-top: 90px;
  margin-left: 30px;
}

#nav{
  width: 500px;
  background-color: rgb(228, 228, 228);
}

#chatbox{
  margin-top: 90px;
  margin-left: 200px;
  width: 500px;
  height: 500px;
  border: solid white 4px;
  background-color: white;
}

#historique{
  background-color: rgb(80, 80, 80);
  height: 50px;
  width: 500px;
  border: rgb(0, 0, 0) solid 2px;
  font-weight: bold;
}

#utilisateurs{
  background-color: rgb(124, 124, 124);
  margin-top: 2%;
  height: 100px;
  border: rgb(0, 0, 0) solid 2px;
  font-weight: bold;
}

#messages{
  background-color: rgb(184, 184, 184);
  margin-top: 2%;
  height: 290px;
  border: rgb(0, 0, 0) solid 2px;
  font-weight: bold;
}

#bouton{
  margin-top: 1%;
  height: 20px;
  width: 500px;
}

#envoyer{
  width: 440px;
}


